{% extends "FastreCigogneBundle::layout.html.twig" %}

{% block title %}A propos de ce site{% endblock title %}

{% block content %}
   <div class="explain-page">
      <div class="row">
         <div class="columns twelve">
            <h1>Une initiative privée</h1>
            <p>Ce site est le résultat d'une initiative individuelle de ma part. 
            Je m'engage à ne pas ré-utiliser les adresses et informations à des 
            fins commerciales&nbsp;; mais en contrepartie, il n'est pas certain 
            que je maintienne le site à très long terme</p>
            
            <h1>Un logiciel libre</h1>
            <p>Le code de ce site est sous licence GPL v3&nbsp;: vous pouvez l'inspecter 
               ici : <a href="https://github.com/julienfastre/Cigogne">
                  https://github.com/julienfastre/Cigogne</a></p>
            <p>Par définition, ce logiciel n'avait que 9 mois pour être créé, sur 
               mon temps libre. Il comporte encore quelques bugs, il n'est pas écrit
               de manière toujours "propre". N'hésitez pas à l'améliorer pour lui
               offrir plusieurs naissances&nbsp;!
            </p>
         </div>
      </div>
   </div>
   
   
{% endblock content %}
