{% extends "FastreCigogneBundle::layout.html.twig" %}

{% block content %}
   <div class="row">
      <div class="columns twelve">
         <p>Page about</p>
      </div>
   </div>
   
   
{% endblock content %}
