Fastre\CigogneBundle\Entity\Item:
  type: entity
  id:
    id:
      type: integer
      generator: {strategy: AUTO}
  fields:
    title:
      type: text
    description:
      type: text
    type:
      type: string
      length: 10
    price:
      type: decimal
      precision: 12
      scale: 2
    furniture:
      type: array
    furnitureDetails:
      type: text
      length: 5000
    good:
      type: array
    priority:
      type: integer
    received:
      type: decimal
      precision: 4
      scale: 2     
    creationDate:
      type: datetime
  manyToOne:
    listing:
      targetEntity: Listing
      inversedBy: items
    