Fastre\CigogneBundle\Entity\Listing:
  type: entity
  id:
    id:
      type: integer
      generator: {strategy: AUTO}
  fields:
    dateOfBirth:
      type: date
      nullable: true
    name:
      type: string
      nullable: true
    description:
      type: text
      nullable: true
    creationDate:
      type: datetime
  oneToMany:
    codes:
      targetEntity: Code
      mappedBy: list
      cascade: [persist, remove]
    items:
      targetEntity: Item
      mappedBy: list
      cascade: [persist, remove]
  manyToOne:
    creator:
      targetEntity: User
      inversedBy: lists
