parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     username
    database_user:     password
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    swift_username:     your_swift_username
    swift_password:     your_swift_password
    swift_regio:        your_swift_regio
    swift_container:    your_swift_container
    swift_endpointurl:  your_swift_endpoint_url
    swift_tenant:       your_swift_tenant_name
    swift_container_public_url: 'http://your_container_public.url'

