homepage:
    pattern:  /
    defaults: { _controller: FastreCigogneBundle:Default:index }
    
cigogne.list.pick_from_code:
  pattern: /list/pick_from_code
  defaults: { _controller: FastreCigogneBundle:Listing:pickFromCode }
  
cigogne.listing.see:
  pattern: /{code}
  defaults: {_controller: FastreCigogneBundle:Listing:getListingFromCode }

fastre_cigogne_listing_get:
  pattern: /listing/get/{id}.{_format}
  defaults: {_controller: FastreCigogneBundle:Listing:getListing }
  requirements:
    _format: json
    
cigogne.gift.add:
  pattern: /gift/add/{type}.{_format}
  defaults: {_controller: FastreCigogneBundle:Gift:add }
  requirements:
    _format : json
    method: POST

cigogne.gift.remove:
  pattern: /gift/remove.{_format}
  defaults: {_controller: FastreCigogneBundle:Gift:remove }
  requirements:
    _format: json
    method: POST
    
cigogne.basket.confirm:
  pattern: basket/{code}/confirm
  defaults: {_controller: FastreCigogneBundle:Basket:confirm }
  
cigogne.basket.confirmed:
  pattern: basket/{code}/confirmation/{basketId}
  defaults: {_controller: FastreCigogneBundle:Basket:confirmed }