homepage:
    pattern:  /
    defaults: { _controller: FastreCigogneBundle:Default:index }
    
cigogne.list.pick_from_code:
  pattern: /list/pick_from_code
  defaults: { _controller: FastreCigogneBundle:Listing:pickFromCode }
  
fastre_cigogne_listing_get:
  pattern: /listing/get/{id}.{_format}
  defaults: {_controller: FastreCigogneBundle:Listing:getListing }
  requirements:
    _format: json
    
cigogne.gift.add:
  pattern: /gift/add/{type}.{_format}
  defaults: {_controller: FastreCigogneBundle:Gift:add }
  requirements:
    _format : json
    method: POST

cigogne.gift.remove:
  pattern: /gift/remove.{_format}
  defaults: {_controller: FastreCigogneBundle:Gift:remove }
  requirements:
    _format: json
    method: POST
    
cigogne.basket.confirm:
  pattern: basket/{code}/confirm
  defaults: {_controller: FastreCigogneBundle:Basket:confirm }
  
cigogne.basket.confirmed:
  pattern: basket/{code}/confirmation/{basketId}
  defaults: {_controller: FastreCigogneBundle:Basket:confirmed }
  
cigogne.register:
   pattern: /register
   defaults: {_controller: FastreCigogneBundle:User:register }
   
cigogne.persona_explain:
   pattern: /persona_explain
   defaults: {_controller: FastreCigogneBundle:User:personaExplain }
 
cigogne.logout:
   pattern: /logout
   defaults: {_controller: FastreCigogneBundle:User:logout }
   
cigogne.listing.list:
   pattern: /listings
   defaults: {_controller: FastreCigogneBundle:Listing:listByUserAuthenticated }
   
cigogne.listing.new:
   pattern: /listing/new
   defaults: {_controller: FastreCigogneBundle:Listing:new }
   
cigogne.listing.update:
   pattern: /listing/update/{id}
   defaults: {_controller: FastreCigogneBundle:Listing:update }
   
cigogne.item.new:
   pattern: /item/{listingId}/new
   defaults: {_controller: FastreCigogneBundle:Item:new }
   
cigogne.item.update:
   pattern: /item/{listingId}/update/{id}
   defaults: {_controller: FastreCigogneBundle:Item:update }
   
cigogne.item.public_view:
   pattern: /item/view/{codeListing}/{itemId}
   defaults: {_controller: FastreCigogneBundle:Item:publicView }
   requirements:
      itemId: \d+
   
cigogne.listing.see:
  pattern: /{code}
  defaults: {_controller: FastreCigogneBundle:Listing:getListingFromCode }