parameters:
#    fastre_cigogne.example.class: Fastre\CigogneBundle\Example

services:
  cigogne.registration.form_type:
    class: Fastre\CigogneBundle\Form\Type\RegistrationFormType
    arguments: [%fos_user.model.user.class%]
    tags:
      - { name: form.type, alias: fastre_cigogne_registration }
      
  cigogne.normalizer.serializer:
    class: Fastre\CigogneBundle\Services\Normalizer\Serializer
    arguments:
      normalizers: 
          - "@cigogne.normalizer.listing_normalizer"
          - "@cigogne.normalizer.item_normalizer"
  
  cigogne.normalizer.item_normalizer:
    class: Fastre\CigogneBundle\Services\Normalizer\ItemNormalizer
  
  cigogne.normalizer.listing_normalizer:
    class: Fastre\CigogneBundle\Services\Normalizer\ListingNormalizer
    arguments:
      itemNormalizer: "@cigogne.normalizer.item_normalizer"
  
  cigogne.type.item_hidden:
    class: Fastre\CigogneBundle\Form\Type\ItemHiddenType
    arguments: ["@doctrine.orm.entity_manager"]
    tags:
      - { name: form.type, alias: item_hidden }
      
  cigogne.type.basket_hidden:
    class: Fastre\CigogneBundle\Form\Type\BasketHiddenType
    arguments: ["@doctrine.orm.entity_manager"]
    tags:
      - { name: form.type, alias: basket_hidden }
