{% extends "FastreCigogneBundle::layout.html.twig" %}

{% block title %}{% trans with {'%name%': listing.creator.username} %}cigogne.listing.view.title{% endtrans %}{% endblock %}

{% block content %}

<h1>{{listing.name}}</h1>
<p>{% trans with {'%name%': listing.creator.username} %}cigogne.listing.view.list_of_{% endtrans %}</p>

<p>{% trans with {'%date%': listing.dateOfBirth | date("m/d/Y")} %}cigogne.listing.view.date_of_birth{% endtrans %}</p>

{{listing.description}}

<h1>{% trans %}cigogne.listing.view.item_list{% endtrans %}</h1>


<div id="item.list" >
    
    {% for item in listing.items %}
        <div class="item 
    {% if item.type is constant('Fastre\\CigogneBundle\\Entity\\Item::TYPE_GOOD') %}good{% else %}service{% endif %}
    {% for g in item.good %}
      {% if g is constant('Fastre\\CigogneBundle\\Entity\\Item::GOOD_SECOND_HAND') %}second{% endif %}
      {% if g is constant('Fastre\\CigogneBundle\\Entity\\Item::GOOD_NEW') %}new{% endif %}
    {% endfor %}
    ">
            <h2 class="item.title">{{item.title}}</h2>

            <p class="item.description">{{item.description}}</p>

            {% for f in item.furniture %}
            
                {% if f is constant('Fastre\\CigogneBundle\\Entity\\Item::FURNITURE_MONEY') %}
                <form method="post" action="#" class="second">
                    <p>TODO formulaire donner de l'argent</p>
                </form>

                {% endif %}

                {% if f is constant('Fastre\\CigogneBundle\\Entity\\Item::FURNITURE_NATURE') %}
                <form method="post" action="#" class="new">
                    <p>TODO formulaire donner en nature</p>
                </form>

                {% endif %}
            
            {% endfor %}


        </div>

    {% endfor %}
        
</div>

{% endblock %}