.listing {
   
   .item_wrapper {
      width: columns(8);
   }
   
   .listingof {
      text-align: right;
      font-family: 'leckerlioneregular';
      font-size: 0.5em;
      color: $primary-color;
   }
   
   div.list-description {
      padding: 1em;
      margin-top: 1.5em;
      border: 1px solid #EAEAEA;
      background-color: #F7F7F7;
   }
   
   .item_list {
      
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
         
      
      
      .item {
         padding: 1em;
         margin-top: 1.5em;
         border: 1px solid #EAEAEA;
         background-color: #F7F7F7;
         
         display: inline-block;
         width: 100%;
         

         .image_item {
            max-width: 100%;
            max-height: 12em;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
         }
         
         .pick-btn {
            width: 100%;
            text-align: center;
            margin-top: 1em;
         }
      }
   }
}

