.back-to-list {
   width: 100%;
   margin-top: 1.5em;
}

.publicView {
   .item_wrapper {
      .item {
      padding: 1em;
      border: 1px solid #EAEAEA;
      background-color: #F7F7F7;
      
      .image_item {
         max-width: 100%;
         max-height: 30em;
         text-align: center;
      }
      
      form {
         .prepend .adjoined.btn,
            .append .adjoined.btn {
               background-color: $primary-color;
            }
            
            .append .adjoined.btn:hover {
               background-color: $primary-hover-color;
            }
      }
      
      .asked, .remaining, .asked_quantity {
         .expl {
            font-variant: small-caps;
         }
         .amount, .quantity {
            font-weight: bold;
         }
      }
      
      
   }
   }
   
}

