{% extends "FastreCigogneBundle::layout.html.twig" %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function () { 
        /*document.getElementById('input.code').addEventListener('invalid', function() {
                alert('invalid');
                document.getElementById('input.code').setCustomValidity("{% trans %}cigogne.homepage.code_validation_message{% endtrans %}");
                });*/
        });
    
</script>
    
{% endblock %}

{% block title %}{% trans %}cigogne.homepage.slogan{% endtrans %}{% endblock %}


{% block content %}

   <div class="row homepage">
      <div class="columns twelve">
         <p class="slogan">{% trans %}cigogne.homepage.slogan{% endtrans %}</p>

         {# \u00E0-\u00FC pattern="[a-zA-Z0-9]+" #}
         <form class="code" method="post" action="{{ url('cigogne.list.pick_from_code')}}" >
            <div class="append field">
             <input id="input_code" class="wide input" pattern="[a-zA-Z0-9\u00E0-\u00FC]+" name="code" placeholder="{% trans %}cigogne.homepage.write_code{% endtrans %}" title="{% trans %}cigogne.homepage.code_validation_message_title{% endtrans %}" autofocus required oninvalid='this.setCustomValidity("cigogne.homepage.code_validation_message")' >
             <div class="medium primary btn adjoined"><button class="search" type="submit">{% trans %}cigogne.homepage.send_code{% endtrans %}</button></div>
            </div>

         </form>

         <ul class="three_up tiles buttons">
             <li class="button" class="who_are_we"><a href="{{ path('cigogne.page', { 'page' : 'about'} ) }}">{% trans %}cigogne.homepage.who_are_we{% endtrans %}</a></li>
             <li class="button" class="future_parent"><a href="{{path('cigogne.page', {'page' : 'future-parent' } ) }}">{% trans %}cigogne.homepage.future_parent{% endtrans %}</a></li>
             <li class="button" class="make_a_gift"><a href="{{ path('cigogne.page', { 'page' : 'make-a-gift' } ) }}">{% trans %}cigogne.homepage.make_a_gift{% endtrans %}</a></li>
         </ul>
      </div>
   </div>

 {% endblock %}
