{% extends "FastreCigogneBundle::layout.html.twig" %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function () { 
        /*document.getElementById('input.code').addEventListener('invalid', function() {
                alert('invalid');
                document.getElementById('input.code').setCustomValidity("{% trans %}cigogne.homepage.code_validation_message{% endtrans %}");
                });*/
        });
    
</script>
    
{% endblock %}

{% block title %}{% trans %}cigogne.homepage.slogan{% endtrans %}{% endblock %}


{% block content %}

<p id="homepage.slogan">{% trans %}cigogne.homepage.slogan{% endtrans %}</p>

{# \u00E0-\u00FC pattern="[a-zA-Z0-9]+" #}
<form method="post" action="{{ url('cigogne.list.pick_from_code')}}" >
    <input id="input.code" pattern="[a-zA-Z0-9\u00E0-\u00FC]+" name="code" placeholder="{% trans %}cigogne.homepage.write_code{% endtrans %}" title="{% trans %}cigogne.homepage.code_validation_message_title{% endtrans %}" autofocus required oninvalid='this.setCustomValidity("cigogne.homepage.code_validation_message")' >
    <button type="submit">{% trans %}cigogne.homepage.send_code{% endtrans %}</button>

</form>

<div id="homepage.buttons">
    <div class="homepage.button" id="homepage.who_are_we"><a href="#">{% trans %}cigogne.homepage.who_are_we{% endtrans %}</a></div>
    <div class="homepage.button" id="homepage.future_parent"><a href="#">{% trans %}cigogne.homepage.future_parent{% endtrans %}</a></div>
    <div class="homepage.button" id="homepage.make_a_gift"><a href="#">{% trans %}cigogne.homepage.make_a_gift{% endtrans %}</a></div>
</div>
 {% endblock %}
